* {
    font-family: Meiryo;
}

a {
    text-decoration-line: none;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.indexMain {
    text-align: center;
    margin: auto;
    width: 300px;
}

@media screen and (min-width: 600px) {
    .indexMain {
        width: 500px;
    }
}

.choiceBlock {
    background-color: lightyellow;
    display: block;
    margin: 5px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: blue;
}

    .choiceBlock:active {
        color: blueviolet;
    }

    .choiceBlock:visited {
        color: blueviolet;
    }

.c1 {
    background-color: #ddffff;
}

    .c1:active {
        background-color: #aaffff;
    }

.c2 {
    background-color: #ffffdd;
}

    .c2:active {
        background-color: #ffffaa;
    }

.c3 {
    background-color: #ddffdd;
}

    .c3:active {
        background-color: #aaffaa;
    }

.c4 {
    background-color: #ffdddd;
}

    .c4:active {
        background-color: #ffaaaa;
    }

.c5 {
    background-color: #ddddff;
}

    .c5:active {
        background-color: #aaaaff;
    }
